<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sessions</title>
    <link rel="stylesheet" href="../assets/fonts/sataoshi-variable.css">
    <link rel="stylesheet" href="../assets/style.css">
    <style>

    </style>
  </head>

  <body>
    <ffconf-component>
      <ffconf-break>
        <img src="/assets/icons/more-speakers.svg" alt="">
        <time>09:00 &mdash; 09:50</time>
        <p>More speakers to be announced soon</p>
      </ffconf-break>
    </ffconf-component>
  </body>

</html>