<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sessions</title>
    <link rel="stylesheet" href="../assets/fonts/sataoshi-variable.css">
    <link rel="stylesheet" href="../assets/style.css">
  </head>

  <body>
    <ffconf-component>
      <ffconf-link class="speak">
        <a href="">
          <p class="category">Conference</p>
          <p class="title">Apply to speak at <abbr title="FF Conf">ffconf</abbr></p>
        </a>
      </ffconf-link>
    </ffconf-component>
  </body>

</html>