<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sessions</title>
    <link rel="stylesheet" href="../assets/fonts/sataoshi-variable.css">
    <link rel="stylesheet" href="../assets/style.css">
    <style>

    </style>
  </head>

  <body>
    <ffconf-component>
      <ffconf-session data-id="1">
        <header>
          <ffconf-speaker-image><img src="../assets/speakers/rem.jpg"></ffconf-speaker-image>
          <h3 class="col_span_3">Imposter syndrome, overworking, and working environments</h3>
          <ffconf-speaker-details>
            <p>Florence Okoye (she/her)</p>
            <time class="dt-start" datetime="2024-11-08T09:00">09:00</time>
            <time class="dt-end" datetime="2024-11-08T09:00">09:40</time>
          </ffconf-speaker-details>
        </header>
        <ffconf-session-details>
          <dl>
            <dt>The Talk</dt>
            <dd>Delight. Inclusion. Awareness. Justice. Reparation. That's a lot to embed into every workflow. Are
              there ways that we can combine data and research to empower the people who use our products? Is there
              anything from critical design.</dd>
            <dt>Origin Story</dt>
            <dd>Florence always wanted to do interesting things and making them at least vaguely useful!</dd>
          </dl>
        </ffconf-session-details>
      </ffconf-session>
    </ffconf-component>
  </body>

</html>