:root {
  --c-bg: #e5e3da;
  --c-block-bg: #fff;
  --c-block-alt-bg: #f2f1ed;
  --c-cta: #ffa10b;
  --c-primary: #000;
  --c-secondary: #6b8e8e;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Satoshi-Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-size: 1.22rem;
  color: var(--c-primary);
  box-sizing: border-box;
  font-weight: 400;
  line-height: 32px;
}

html {
  background: #e5e3da url(/assets/header.svg) repeat-x center 105%;
  background-size: 1200px;
}

abbr {
  font-weight: inherit;
  text-decoration: inherit;
}

.logo {
  background: #e5e3da;
  display: block;
  margin-left: -15px;
  margin-top: -30px;
  width: 150px;
  height: 150px;
}

body > header {
  background: url(/assets/header.svg);
  background-position: center -20px;
  background-repeat: repeat-x;
  min-height: 270px;
  background-size: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}


.grid_container {
  display: grid;
  grid-template-columns: repeat(6, 176px);
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

ffconf-component {
  outline: 1px dashed blue;
  margin: 50px auto;
  display: block;
  max-width: 1096px;
  overflow: hidden;
}

main {
  margin: 0 auto;
  padding: 0 24px;
  box-sizing: content-box;
}

ffconf-break {
  background: #f2f1ed;
  display: grid;
  padding: 24px;
  gap: 16px;
  grid:
    'break-img break-time'
    'break-description break-description';
  grid-template-columns: auto 1fr;
  align-items: center;

  img {
    grid-area: break-img;
    width: 32px;
    height: 32px;
  }

  time {
    grid-area: break-time;
    line-height: 24px;
    font-size: 16px;
  }

  p {
    grid-area: break-description;
    line-height: 32px;
    font-size: 24px;
    text-transform: uppercase;
  }
}

#what-to-expect {
  margin: 80px 0;
  ul {
    column-count: 2;
    column-width: 538px;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin: 0;
      text-transform: uppercase;
      line-height: 40px;
    }
  }

  & > p {
    margin-top: 40px;
  }
}

.pill {
  background: var(--c-primary);
  color: var(--c-block-bg);
  border: 4px solid var(--c-primary);
  border-radius: 10000px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  padding: 24px 8px;
  text-align: center;
}

.pill-alt {
  color: var(--c-primary);
  background: var(--c-block-bg);
  border: 4px solid var(--c-primary);
}

.strap {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

#buynow {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 112px;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2px;
  margin-bottom: 56px;
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -2px;
  text-align: left;
  margin: 56px 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

ffconf-card-holder {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

ffconf-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f1ed;
  padding: 32px;
  font-size: 18px;
  gap: 16px;

  * {
    font-size: inherit;
    text-align: center;
  }
}

ffconf-container {
  width: 360px;
  height: 216px;
}

small {
  font-size: 14px;
}

ffconf-session {
  display: block;
  background: white;
  header {
    display: grid;
    grid:
      'avatar name'
      'title title';
    gap: 24px 16px;
    grid-template-columns: auto 1fr;
  }
  ffconf-speaker-image {
    position: relative;
    display: block;
    grid-area: avatar;
  }
  ffconf-speaker-image:after {
    /* colours should be based on order */
    background: linear-gradient(
      0deg,
      rgba(121, 230, 241, 0.25),
      rgba(121, 230, 241, 0.25)
    );
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
  }
  img {
    margin: 1px;
    width: 96px;
    height: 96px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 96px;
    border: 1px solid white;
    outline: 1px solid #79e6f1;

    /* Inside auto layout */
    display: block;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  ffconf-speaker-details {
    display: flex;
    flex-direction: column-reverse;
    text-transform: uppercase;
    p {
      color: #566969;
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
    }
    time {
      display: none;
    }
    grid-area: name;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    grid-area: title;
  }
  dl {
  }
  dt {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    color: #566969;
    margin-bottom: 8px;
    margin-top: 32px;
  }
  dd {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }

  padding: 32px 40px;
}

#get-involved ul,
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  margin-bottom: 256px;
  margin-top: 160px;
  li {
    line-height: 40px;
    margin: 8px 0;
  }
}

ffconf-link {
  display: block;
  overflow: hidden;
  background: white;
  a {
    margin: 24px;
    text-transform: uppercase;
    display: grid;
    grid: '.' '.';
    grid-template-columns: 1fr;
    align-items: center;
    text-decoration: none;
    background-repeat: no-repeat, no-repeat;
    background-position: 0px top, right top;
    background-size: 32px 32px, 30px 30px;
    --i-arrow: url(/assets/icons/arrow.svg);
    gap: 8px;

    &:first-child {
      padding-top: 56px;
    }
  }

  .category {
    color: #566969;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  &.speak a {
    background-image: url(/assets/icons/speak.svg), var(--i-arrow);
  }

  &.news a {
    background-image: url(/assets/icons/news.svg), var(--i-arrow);
  }

  &.scholarship a {
    background-image: url(/assets/icons/scholarship.svg), var(--i-arrow);
  }
}

#sponsors {
  margin-top: 160px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 0;
    grid-area: sponsor-title;
  }

  div.col_span_3 {
    grid-area: sponsor-intro;
  }

  p {
    margin: 56px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .container {
    margin-top: 80px;
    grid-area: sponsor-body;
    display: grid;
    grid-auto-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
  }
}

.sponsor {
  background: white;
  padding: 32px 40px;
  display: grid;
  grid-template-rows: auto 1fr;
  
  h3 {
    text-transform: uppercase;
  }

  a {
    display: block;
    align-self: center;
    img {
      max-width: 100%;
    }
  }
}

.sponsor.request-a-pack {
  a {
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
    display: inline;
    border-radius: 100px;
    font-size: 16px;
    justify-self: center;
  }
  
}

@media screen and (min-width: 640px) {
  .col_span_1 {
    max-width: 176px;
    width: calc(90vw / 6);
  }

  .col_span_2 {
    max-width: 360px;
    width: calc(90vw / 6 * 2);
  }

  .col_span_3 {
    max-width: 544px;
    width: calc(90vw / 6 * 3);
  }

  .col_span_4 {
    max-width: 728px;
    width: calc(90vw / 6 * 4);
  }

  .col_span_5 {
    max-width: 912px;
    width: calc(90vw / 6 * 5);
  }

  .col_span_6 {
    max-width: 1096px;
    width: calc(90vw / 6 * 6);
  }

  ffconf-link {
    a { 
      background-position: 24px center, right center;
      background-size: 48px 48px, 30px 30px; 

      margin: 32px 40px;
      gap: 0;
  
      &:first-child {
        padding-top: 0px;
      }
    }

    p {
      padding-left: 120px;
    }
  

  }

  ffconf-card-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }

  ffconf-card {
    padding: 40px 80px;
  }

  ffconf-session {
    header {
      gap: 0 24px;
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 32px;
      margin-bottom: 32px;
      display: grid;
      grid:
        'avatar name'
        'avatar title';
      grid-template-columns: auto 1fr;

      img {
        margin: 4px;
        width: 96px;
        height: 96px;
        border-width: 4px;
        outline-width: 4px;
      }

      ffconf-speaker-image:after {
        width: 104px;
        height: 104px;
      }
    }
    dl {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0fr 1fr;
      gap: 0px 64px;
      grid-auto-flow: column;
      grid-template-areas:
        '. .'
        '. .';
    }

    dt {
      margin-top: 0;
    }
  }

  #sponsors {
    display: grid;
    grid:
      'sponsor-title sponsor-intro'
      'sponsor-body sponsor-body';
    align-items: start;

    .container {
      grid-template-columns: 1fr 1fr;
    }
  }

  ffconf-break {
    gap: 24px;
    grid: 'break-img break-description break-time';
    grid-template-columns: 96px 1fr auto;

    img {
      width: 96px;
      height: 48px;
      object-fit: contain;
    }
  }

  .logo {
    width: auto;
    height: auto;
    margin-left: -20px;
    margin-top: -40px;
  }

  .flex {
    flex-direction: row;
  }

  body > header {
    min-height: 548px;
    background-size: initial;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 112px;
    line-height: 112px;
    margin-bottom: 0;
  }

  .strap {
    margin-top: 160px;
  }

  h2 {
    margin-top: 160px;
    margin-bottom: 80px;
    font-size: 72px;
    line-height: 72px;
  }

  html {
    background-size: initial;
    background-position: center calc(100% + 400px);
  }
}
